<div id="wrapper">
  <!-- start header -->
  <div id="header-wrapper">
    <div id="header">
      <div id="logo">
        <h1><img src="/images/ACCIletterheadsm.gif" align="left" border="0"><img src="/images/ACCIletterheadrtw.gif" align="right" border="0"></h1>
        <!--p>Advanced Cable Connection Inc.</p-->
      </div>
    </div>
  </div>
  <div id="menu-wrapper">
    <div id="menu">
      <ul>
        <li><a href="#">Why Use ACCI</a></li>
        <li><a href="#">Info Request</a></li>
        <li><a href="#">Employment</a></li>
        <li><a href="#">Map&nbsp;&amp;&nbsp;Directions</a></li>
      </ul>
    </div>
  </div>
  <!-- end header -->
  <!-- start page -->
  <div id="page">
  <div id="page-bgtop">
   <div id="page-bgbtm">
   <div id="sidebar1" class="sidebar">
    <table nof="LY" id="Table3" width="171" border="0" cellpadding="0" cellspacing="0">
                    <tbody><tr valign="TOP" align="LEFT">
                        <td colspan="5" width="170" height="24">

<script language="JavaScript"><!--
function onPictureRollover14A750Over() {}
function onPictureRollover14A750Out() {}
//--></script>
<script language="JavaScript1.1"><!--
graphic1PictureRollover14A750 = new Image()
graphic1PictureRollover14A750.src = './home.jpg';
graphic2PictureRollover14A750 = new Image()
graphic2PictureRollover14A750.src = './home_f2.jpg';
function onPictureRollover14A750Over() {
document.PictureRollover14A750.src=graphic2PictureRollover14A750.src;
}
function onPictureRollover14A750Out() {
document.PictureRollover14A750.src=graphic1PictureRollover14A750.src;
}
//--></script>
<a href="ftp://www.accicable.com/index.html" tppabs="http://www.accicable.com/index.html" onmouseover="onPictureRollover14A750Over(this)" onmouseout="onPictureRollover14A750Out(this)"><img id="PictureRollover14" src="default3_files/home.jpg" tppabs="http://www.accicable.com/home.jpg" name="PictureRollover14A750" width="170" border="0" height="24"></a></td>
                        <td></td>
                    </tr>
                    <tr valign="TOP" align="LEFT">
                        <td colspan="5" width="170" height="24">

<script language="JavaScript"><!--
function onPictureRollover15A990Over() {}
function onPictureRollover15A990Out() {}
//--></script>
<script language="JavaScript1.1"><!--
graphic1PictureRollover15A990 = new Image()
graphic1PictureRollover15A990.src = './wiring.jpg';
graphic2PictureRollover15A990 = new Image()
graphic2PictureRollover15A990.src = './wiring_f2.jpg';
function onPictureRollover15A990Over() {
document.PictureRollover15A990.src=graphic2PictureRollover15A990.src;
}
function onPictureRollover15A990Out() {
document.PictureRollover15A990.src=graphic1PictureRollover15A990.src;
}
//--></script>
<a href="ftp://www.accicable.com/acci2.html" tppabs="http://www.accicable.com/acci2.html" onmouseover="onPictureRollover15A990Over(this)" onmouseout="onPictureRollover15A990Out(this)"><img id="PictureRollover15" src="default3_files/wiring.jpg" tppabs="http://www.accicable.com/wiring.jpg" name="PictureRollover15A990" width="170" border="0" height="24"></a></td>
                        <td></td>
                    </tr>
                    <tr valign="TOP" align="LEFT">
                        <td colspan="5" width="170" height="24">

<script language="JavaScript"><!--
function onPictureRollover16A1230Over() {}
function onPictureRollover16A1230Out() {}
//--></script>
<script language="JavaScript1.1"><!--
graphic1PictureRollover16A1230 = new Image()
graphic1PictureRollover16A1230.src = './fiber.jpg';
graphic2PictureRollover16A1230 = new Image()
graphic2PictureRollover16A1230.src = './fiber_f2.jpg';
function onPictureRollover16A1230Over() {
document.PictureRollover16A1230.src=graphic2PictureRollover16A1230.src;
}
function onPictureRollover16A1230Out() {
document.PictureRollover16A1230.src=graphic1PictureRollover16A1230.src;
}
//--></script>
<a href="ftp://www.accicable.com/acci3.html" tppabs="http://www.accicable.com/acci3.html" onmouseover="onPictureRollover16A1230Over(this)" onmouseout="onPictureRollover16A1230Out(this)"><img id="PictureRollover16" src="default3_files/fiber.jpg" tppabs="http://www.accicable.com/fiber.jpg" name="PictureRollover16A1230" width="170" border="0" height="24"></a></td>
                        <td></td>
                    </tr>
                    <tr valign="TOP" align="LEFT">
                        <td colspan="5" width="170" height="24">

<script language="JavaScript"><!--
function onPictureRollover17A1470Over() {}
function onPictureRollover17A1470Out() {}
//--></script>
<script language="JavaScript1.1"><!--
graphic1PictureRollover17A1470 = new Image()
graphic1PictureRollover17A1470.src = './cabling.jpg';
graphic2PictureRollover17A1470 = new Image()
graphic2PictureRollover17A1470.src = './cabling_f2.jpg';
function onPictureRollover17A1470Over() {
document.PictureRollover17A1470.src=graphic2PictureRollover17A1470.src;
}
function onPictureRollover17A1470Out() {
document.PictureRollover17A1470.src=graphic1PictureRollover17A1470.src;
}
//--></script>
<a href="ftp://www.accicable.com/acci4.html" tppabs="http://www.accicable.com/acci4.html" onmouseover="onPictureRollover17A1470Over(this)" onmouseout="onPictureRollover17A1470Out(this)"><img id="PictureRollover17" src="default3_files/cabling.jpg" tppabs="http://www.accicable.com/cabling.jpg" name="PictureRollover17A1470" width="170" border="0" height="24"></a></td>
                        <td></td>
                    </tr>
                    <tr valign="TOP" align="LEFT">
                        <td colspan="5" width="170" height="24">

<script language="JavaScript"><!--
function onPictureRollover18A1710Over() {}
function onPictureRollover18A1710Out() {}
//--></script>
<script language="JavaScript1.1"><!--
graphic1PictureRollover18A1710 = new Image()
graphic1PictureRollover18A1710.src = './telephone.jpg';
graphic2PictureRollover18A1710 = new Image()
graphic2PictureRollover18A1710.src = './telephone_f2.jpg';
function onPictureRollover18A1710Over() {
document.PictureRollover18A1710.src=graphic2PictureRollover18A1710.src;
}
function onPictureRollover18A1710Out() {
document.PictureRollover18A1710.src=graphic1PictureRollover18A1710.src;
}
//--></script>
<a href="ftp://www.accicable.com/acci5.html" tppabs="http://www.accicable.com/acci5.html" onmouseover="onPictureRollover18A1710Over(this)" onmouseout="onPictureRollover18A1710Out(this)"><img id="PictureRollover18" src="default3_files/telephone.jpg" tppabs="http://www.accicable.com/telephone.jpg" name="PictureRollover18A1710" width="170" border="0" height="24"></a></td>
                        <td></td>
                    </tr>
                    <tr valign="TOP" align="LEFT">
                        <td colspan="6" width="171" height="24">

<script language="JavaScript"><!--
function onPictureRollover19A1950Over() {}
function onPictureRollover19A1950Out() {}
//--></script>
<script language="JavaScript1.1"><!--
graphic1PictureRollover19A1950 = new Image()
graphic1PictureRollover19A1950.src = './custom.jpg';
graphic2PictureRollover19A1950 = new Image()
graphic2PictureRollover19A1950.src = './custom_f2.jpg';
function onPictureRollover19A1950Over() {
document.PictureRollover19A1950.src=graphic2PictureRollover19A1950.src;
}
function onPictureRollover19A1950Out() {
document.PictureRollover19A1950.src=graphic1PictureRollover19A1950.src;
}
//--></script>
<a href="ftp://www.accicable.com/acci7.html" tppabs="http://www.accicable.com/acci7.html" onmouseover="onPictureRollover19A1950Over(this)" onmouseout="onPictureRollover19A1950Out(this)"><img id="PictureRollover19" src="default3_files/custom.jpg" tppabs="http://www.accicable.com/custom.jpg" name="PictureRollover19A1950" width="171" border="0" height="24"></a></td>
                    </tr>
                    <tr valign="TOP" align="LEFT">
                        <td colspan="5" width="170" height="24">

<script language="JavaScript"><!--
function onPictureRollover20A2190Over() {}
function onPictureRollover20A2190Out() {}
//--></script>
<script language="JavaScript1.1"><!--
graphic1PictureRollover20A2190 = new Image()
graphic1PictureRollover20A2190.src = './bulk.jpg';
graphic2PictureRollover20A2190 = new Image()
graphic2PictureRollover20A2190.src = './bulk_f2.jpg';
function onPictureRollover20A2190Over() {
document.PictureRollover20A2190.src=graphic2PictureRollover20A2190.src;
}
function onPictureRollover20A2190Out() {
document.PictureRollover20A2190.src=graphic1PictureRollover20A2190.src;
}
//--></script>
<a href="ftp://www.accicable.com/acci8.html" tppabs="http://www.accicable.com/acci8.html" onmouseover="onPictureRollover20A2190Over(this)" onmouseout="onPictureRollover20A2190Out(this)"><img id="PictureRollover20" src="default3_files/bulk.jpg" tppabs="http://www.accicable.com/bulk.jpg" name="PictureRollover20A2190" width="170" border="0" height="24"></a></td>
                        <td></td>
                    </tr>
                    <tr valign="TOP" align="LEFT">
                        <td colspan="5" width="170" height="24">

<script language="JavaScript"><!--
function onPictureRollover10A2430Over() {}
function onPictureRollover10A2430Out() {}
//--></script>
<script language="JavaScript1.1"><!--
graphic1PictureRollover10A2430 = new Image()
graphic1PictureRollover10A2430.src = './oem.jpg';
graphic2PictureRollover10A2430 = new Image()
graphic2PictureRollover10A2430.src = './oem_f2.jpg';
function onPictureRollover10A2430Over() {
document.PictureRollover10A2430.src=graphic2PictureRollover10A2430.src;
}
function onPictureRollover10A2430Out() {
document.PictureRollover10A2430.src=graphic1PictureRollover10A2430.src;
}
//--></script>
<a href="ftp://www.accicable.com/hecc.html" tppabs="http://www.accicable.com/hecc.html" onmouseover="onPictureRollover10A2430Over(this)" onmouseout="onPictureRollover10A2430Out(this)"><img id="PictureRollover10" src="default3_files/oem.jpg" tppabs="http://www.accicable.com/oem.jpg" name="PictureRollover10A2430" width="170" border="0" height="24"></a></td>
                        <td></td>
                    </tr>
                    <tr valign="TOP" align="LEFT">
                        <td colspan="5" width="170" height="24">

<script language="JavaScript"><!--
function onPictureRollover21A2670Over() {}
function onPictureRollover21A2670Out() {}
//--></script>
<script language="JavaScript1.1"><!--
graphic1PictureRollover21A2670 = new Image()
graphic1PictureRollover21A2670.src = './employment.jpg';
graphic2PictureRollover21A2670 = new Image()
graphic2PictureRollover21A2670.src = './employment_f2.jpg';
function onPictureRollover21A2670Over() {
document.PictureRollover21A2670.src=graphic2PictureRollover21A2670.src;
}
function onPictureRollover21A2670Out() {
document.PictureRollover21A2670.src=graphic1PictureRollover21A2670.src;
}
//--></script>
<a href="ftp://www.accicable.com/why.html" tppabs="http://www.accicable.com/why.html" onmouseover="onPictureRollover21A2670Over(this)" onmouseout="onPictureRollover21A2670Out(this)"><img id="PictureRollover21" src="default3_files/employment.jpg" tppabs="http://www.accicable.com/employment.jpg" name="PictureRollover21A2670" width="170" border="0" height="24"></a></td>
                        <td></td>
                    </tr>
                     <tr valign="TOP" align="LEFT">
                        <td colspan="5" width="170" height="24">

<script language="JavaScript"><!--
function onPictureRollover21A2600Over() {}
function onPictureRollover21A2600Out() {}
//--></script>
<script language="JavaScript1.1"><!--
graphic1PictureRollover21A2600 = new Image()
graphic1PictureRollover21A2600.src = './new.jpg';
graphic2PictureRollover21A2600 = new Image()
graphic2PictureRollover21A2600.src = './new_f2.jpg';
function onPictureRollover21A2600Over() {
document.PictureRollover21A2600.src=graphic2PictureRollover21A2600.src;
}
function onPictureRollover21A2600Out() {
document.PictureRollover21A2600.src=graphic1PictureRollover21A2600.src;
}
//--></script>
<a href="ftp://www.accicable.com/employment.html" tppabs="http://www.accicable.com/employment.html" onmouseover="onPictureRollover21A2600Over(this)" onmouseout="onPictureRollover21A2600Out(this)"><img id="IMG6" src="default3_files/new.jpg" tppabs="http://www.accicable.com/new.jpg" name="PictureRollover21A2600" width="170" border="0" height="24"></a></td>
                        <td></td>
                    </tr>
                    <tr valign="TOP" align="LEFT">
                        <td colspan="5" width="170" height="24">

<script language="JavaScript"><!--
function onPictureRollover22A2910Over() {}
function onPictureRollover22A2910Out() {}
//--></script>
<script language="JavaScript1.1"><!--
graphic1PictureRollover22A2910 = new Image()
graphic1PictureRollover22A2910.src = './info.jpg';
graphic2PictureRollover22A2910 = new Image()
graphic2PictureRollover22A2910.src = './info_f2.jpg';
function onPictureRollover22A2910Over() {
document.PictureRollover22A2910.src=graphic2PictureRollover22A2910.src;
}
function onPictureRollover22A2910Out() {
document.PictureRollover22A2910.src=graphic1PictureRollover22A2910.src;
}
//--></script>
<a href="ftp://www.accicable.com/acciform.html" tppabs="http://www.accicable.com/acciform.html" onmouseover="onPictureRollover22A2910Over(this)" onmouseout="onPictureRollover22A2910Out(this)"><img id="PictureRollover22" src="default3_files/info.jpg" tppabs="http://www.accicable.com/info.jpg" name="PictureRollover22A2910" width="170" border="0" height="24"></a></td>
                        <td></td>
                    </tr>
                    <tr valign="TOP" align="LEFT">
                        <td colspan="5" width="170" height="24">

<script language="JavaScript"><!--
function onPictureRollover23A3150Over() {}
function onPictureRollover23A3150Out() {}
//--></script>
<script language="JavaScript1.1"><!--
graphic1PictureRollover23A3150 = new Image()
graphic1PictureRollover23A3150.src = './map.jpg';
graphic2PictureRollover23A3150 = new Image()
graphic2PictureRollover23A3150.src = './map_f2.jpg';
function onPictureRollover23A3150Over() {
document.PictureRollover23A3150.src=graphic2PictureRollover23A3150.src;
}
function onPictureRollover23A3150Out() {
document.PictureRollover23A3150.src=graphic1PictureRollover23A3150.src;
}
//--></script>
<a href="ftp://www.accicable.com/accimap.html" tppabs="http://www.accicable.com/accimap.html" onmouseover="onPictureRollover23A3150Over(this)" onmouseout="onPictureRollover23A3150Out(this)"><img id="PictureRollover23" src="default3_files/map.jpg" tppabs="http://www.accicable.com/map.jpg" name="PictureRollover23A3150" width="170" border="0" height="24"></a></td>
                        <td></td>
                    </tr>
                    <tr valign="TOP" align="LEFT">
                        <td colspan="5" width="170" height="61">

<script language="JavaScript"><!--
function onPictureRollover13A3390Over() {}
function onPictureRollover13A3390Out() {}
//--></script>
<script language="JavaScript1.1"><!--
graphic1PictureRollover13A3390 = new Image()
graphic1PictureRollover13A3390.src = './email.jpg';
graphic2PictureRollover13A3390 = new Image()
graphic2PictureRollover13A3390.src = './email.jpg';
function onPictureRollover13A3390Over() {
document.PictureRollover13A3390.src=graphic2PictureRollover13A3390.src;
}
function onPictureRollover13A3390Out() {
document.PictureRollover13A3390.src=graphic1PictureRollover13A3390.src;
}
//--></script>
<a href="ftp://www.accicable.com/acciform.html" onmouseover="onPictureRollover13A3390Over(this)" onmouseout="onPictureRollover13A3390Out(this)"><img id="PictureRollover13" src="default3_files/email.jpg" tppabs="http://www.accicable.com/email.jpg" name="PictureRollover13A3390" width="170" border="0" height="61"></a></td>
                        <td></td>
                    </tr>
                    <tr valign="TOP" align="LEFT">
                        <td colspan="5" valign="TOP" align="LEFT"><img src="default3_files/rcdd.gif" border="0"></td>

                        <td></td>
                    </tr>
                    <tr valign="TOP" align="LEFT">
                        <td width="9"><img src="default3_files/clearpixel.gif" tppabs="http://www.accicable.com/clearpixel.gif" width="9" border="0" height="1"></td>
                        <td width="48"><img src="default3_files/clearpixel.gif" tppabs="http://www.accicable.com/clearpixel.gif" width="48" border="0" height="1"></td>
                        <td width="95"><p align="CENTER"><b><font color="#cc0000" size="-1">ON STAFF</font></b></p></td>
                        <td width="7"><img src="default3_files/clearpixel.gif" tppabs="http://www.accicable.com/clearpixel.gif" width="7" border="0" height="1"></td>
                        <td width="11"><img src="default3_files/clearpixel.gif" tppabs="http://www.accicable.com/clearpixel.gif" width="11" border="0" height="1"></td>
                        <td width="7"><img src="default3_files/clearpixel.gif" tppabs="http://www.accicable.com/clearpixel.gif" width="7" border="0" height="1"></td>
                        <td width="1"><img src="default3_files/clearpixel.gif" tppabs="http://www.accicable.com/clearpixel.gif" width="1" border="0" height="1"></td>
                    </tr>
		<tr valign="TOP" align="LEFT">
                        <td colspan="5" valign="TOP" align="LEFT"><a target="_blank" href="https://www.gsaadvantage.gov/ref_text/GS35F0312V/GS35F0312V_online.htm"><img id="Img1" src="default3_files/gsalogosm.jpg" tppabs="http://www.accicable.com/accred_bus_black.jpg" border="0"></a></td>

                    </tr><tr valign="TOP" align="LEFT">
                        <td colspan="6" height="13"></td>
                    </tr>
                    <tr valign="TOP" align="LEFT">
                        <td></td>
                        <td colspan="3" valign="TOP" width="150" align="LEFT"><img id="Picture201" src="default3_files/license.gif" tppabs="http://www.accicable.com/license.gif" width="150" border="0" height="110"></td>
                        <td colspan="2"></td>
                    </tr>
					<tr valign="TOP" align="LEFT">
                        <td></td>
                        <td colspan="3" valign="TOP" width="150" align="LEFT"><br><img src="default3_files/sba.jpg" border="0"></td>
                        <td colspan="2"></td>
                    </tr>
					  <tr valign="TOP" align="LEFT">
                        <td height="110"></td>
                        <td colspan="3" valign="TOP" width="150" align="center"><img id="Img2" src="default3_files/accred_bus_black.gif" tppabs="http://www.accicable.com/accred_bus_black.jpg" border="0"></td>
                        <td colspan="2"></td>
                    </tr>
                     <tr valign="TOP" align="LEFT">
                        <td></td>
                        <td colspan="3" valign="TOP" width="150" align="LEFT"><br><img id="Img3" src="default3_files/HTlogo_sm.gif" tppabs="http://www.accicable.com/HTlogo_sm.gif" border="0"></td>
                        <td colspan="2"></td>
                    </tr>
                    <tr valign="TOP" align="LEFT">
                        <td></td>
                        <td colspan="3" valign="TOP" width="150" align="LEFT"><br><img id="Img4" src="default3_files/New_Image_sm.gif" tppabs="http://www.accicable.com/New_Image_sm.tif" border="0"></td>
                        <td colspan="2"></td>
                    </tr>
                    <tr valign="TOP" align="LEFT">
                        <td></td>
                        <td colspan="3" valign="TOP" width="150" align="LEFT"><br><img id="Img5" src="default3_files/NewImage_sm.gif" tppabs="http://www.accicable.com/NewImage_sm.gif" border="0"></td>
                        <td colspan="2"></td>
                    </tr>
                    <tr valign="TOP" align="LEFT">
                        <td></td>
                        <td colspan="3" valign="TOP" width="150" align="LEFT"><br><img id="Img7" src="default3_files/SMP_OCCtag_4c_sm.jpg" tppabs="http://www.accicable.com/SMPOCCtag_4c_sm.jpg" border="0"></td>
                        <td colspan="2"></td>
                    </tr>

                </tbody></table>
      <!--ul>

        <li>

          <h2>Navigation</h2>

          <ul>

            <li><a href="#">Network Cabling</a></li>

            <li><a href="#">Fiber Optics</a></li>

            <li><a href="#">CCTV, Sound and Security</a></li>

            <li><a href="#">Data Centers</a></li>

            <li><a href="#">Voice/Telephone Installs</a></li>

            <li><a href="#">Government</a></li>

            <li><a href="#">Custom Cables</a></li>

            <li><a href="#">Why use A.C.C.I.</a></li>



          </ul>

        </li>



      </ul>

      <p align="center"><img src="images/rcdd.gif"><br><br>

              <img src="images/sba.jpg" width="120"><br><br>

              <img src="images/license.gif" width=140 height=120><br><br>

              <img src="images/gsalogosm.jpg"><br><br></p-->
    </div>
    <!-- start content -->
    <div id="content">
      <div class="post">
        <h1 class="title"><a href="#">"Bridging the Gap between Construction and IT" since 1987.</a></h1>
        <div class="entry">

          <p>ADVANCED CABLE CONNECTION INC, ACCI is
a certified low voltage contractor, structured wiring installation company, and
Local Area Network integration specialist. Since 1987, ACCI has worked closely
with IT, IS, electricians, and engineers to bridge the gap between construction
and the needs of the IT and office manager. We are a group of communications
managers and skilled technicians that come out prepared and ready to install.
Our technicians arrive in fully stocked vehicles, loaded with tools, ladders,
drills and every time saving cabling gadget that works. What this means is
saving time, which <img src="default3_files/homepic2.jpg" vspace="10" align="left" border="1" hspace="10">translates into saving you
money. <br><br>With RCDDs on staff, BICSI certified lead technicians, and an
average of 9 years experience for our field workers, ACCI is staffed to handle
your most complex projects. Our experience, efficiency, and ongoing training
results in top-quality workmanship at very competitive prices. Whether you want
a value-engineered solution that works great, or a top-of-line, high-speed,
high-performance network, ACCI can deliver. <br><br>It’s all about the
bandwidth. How important are e-mails and computers to your company? Now add
VoIP, your phone system being added to the same network, along with security
cameras, CCTV, streaming video, card access and all the future services to be
added to your network. Can you survive with a cabling bottle-neck slowing
everything down? The cost of downtime and slow computers is much higher than the
cost of high performance infrastructure. Surveys done by LAN computing magazine,
BICSI and the EIA/TIA association have shown that cabling problems are the #1
reason for system failures, followed by viruses #2, software ignorance #3, and
so on. <br><br>How do you know if you are getting a quality cable installation?
Testing! Even if ACCI installs one cable drop for you, we fully scanner test it
to Cat5e, Cat6, or Fiber Optic standards. Each test is downloaded and stored or
provided to you in e-mail or CD format. <img src="default3_files/homepic3.jpg" vspace="10" align="right" border="1" hspace="10">Don’t be fooled by a pin test, only a Type II scanner will
emit a high-speed signal to verify full performance. <br><br>What is all of this
going to do for you? It is going to save you the headaches of a slow network,
make you look good, and make you more competitive. <br><br>When ACCI started in
1987 mainframe cabling and custom-made cable assemblies was the extent of our
services. Now we design and install full Local Area Networks, VoIP Phone
Systems, Outside Plant Communications, Northstar and Lucent Partner Analog Phone
Systems, Security Cameras, Sound Masking(White Noise), CCTV, CATV, A/V
Projectors and Screens, PA Systems, Nurse Call, Biometric Systems, Gate Access
Systems, Card Access Systems, Data Center Build-outs, Fiber Optics, Custom-made
Patch Cords, Custom Cable Assemblies and Adapters, Fiber Optic Cable Repairs,
UPS, Grounding, Backboards, Firestopping, Cable Abatement, NIPR, SIPR and PDS
including piping, as well as Professional System Moves - and we would be more
than happy to give you classes on how to do anything mentioned above.
<br><br>And of course we are fully insured, licensed, bonded (up to $2 Million),
and certified minority by the SBA 8(a) program, the State of Florida MBE
program, and the NMSDC/FMSDC. <br><br>Locally we handle Tampa, St. Petersburg,
Clearwater, Largo, New Port Richey, Tarpon Springs, Brooksville, Dade City, St.
Leo, Zephyrhills, Brandon, Valrico, Plant City, Lakeland, Melbourne, Macdill
AFB, Kennedy Space Center (KSC), Patrick AFB, and throughout the West Coast
areas of Central Florida. We have our own crews and travel where needed.
<br><br>E-mail or call us, we are a little old fashioned so we still answer the
phone within just a ring or two. </p>
 <p align="center"><img src="default3_files/rack.jpg" valign="top" basefont="1993" border="0" hspace="7"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="default3_files/rack2006.jpg"></p>
<p align="center"><b>1993
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
2006</b></p>
        </div>
      </div>

    </div>
    <!-- end content -->
    <!-- start sidebars

    <div id="sidebar2" class="sidebar">

      <ul>

        <li>

          <form id="searchform" method="get" action="#">

            <div>

              <h2>Site Search</h2>

              <input type="text" name="s" id="s" size="15" value="" />

            </div>

          </form>

        </li>

        <li>

          <h2>Categories</h2>

          <ul>

            <li><a href="#">Aliquam libero</a></li>

            <li><a href="#">Consectetuer adipiscing elit</a></li>

            <li><a href="#">Metus aliquam pellentesque</a></li>

            <li><a href="#">Suspendisse iaculis mauris</a></li>

            <li><a href="#">Urnanet non molestie semper</a></li>

            <li><a href="#">Proin gravida orci porttitor</a></li>

            <li><a href="#">Aliquam libero</a></li>

            <li><a href="#">Consectetuer adipiscing elit</a></li>

            <li><a href="#">Metus aliquam pellentesque</a></li>

            <li><a href="#">Urnanet non molestie semper</a></li>

            <li><a href="#">Proin gravida orci porttitor</a></li>

            <li><a href="#">Aliquam libero</a></li>

            <li><a href="#">Consectetuer adipiscing elit</a></li>

            <li><a href="#">Metus aliquam pellentesque</a></li>

          </ul>

        </li>

      </ul>

    </div>

    -->&nbsp;</div>--&gt;

  </div>
  <!-- end page -->
</div>
</div>

<div id="footer-wrapper">
  <div id="footer">
    <p class="copyright">©&nbsp;&nbsp;2010 Advanced Cable Connection Inc.<br>Phone: 813-978-0101&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;FAX:&nbsp; 813-972-3038</p>
  </div>
</div>

